.layout {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;               /* forzar altura exacta de ventana */
  overflow: hidden;            /* recortar todo desborde */
}

.layout__left {
  position: relative;
  height: 100%;                /* ocupa los 100vh de .layout */
  overflow: hidden;            /* recortar cualquier parte sobrante */
  border-radius: 2%;
}

.layout__image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: center;
  display: block;
}

.layout__description {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: #EFE7D2;
  font-size: 6rem;
  font-weight: bold;
}

.layout__right {
  padding: 2rem;
  overflow-y: auto;
  background-color: #f9f9f9;
  margin-left: 5px;
  border-radius: 2%;
}
